/* Con * podemos resetear todos los estilos que el navegador nos da por defecto
* {
	margin: 0;
	padding: 0;
}
*/

body {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

header {
	height: 60px;
	width: 100%;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header nav .nav-right-section {
	align-items: center;
	display: flex;
	height: auto;
	justify-content: center;
	list-style: none;
	width: 250px;
}

nav .nav-right-section a {
	color: #000000;
	margin-right: 10px;
}

nav .nav-right-section .menu-icon {
	background-image: url('https://static.thenounproject.com/png/756729-200.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 25px;
	width: 25px;
}

nav .nav-right-section img {
	border-radius: 50%;
	margin-left: 10px;
}